
/* Стиль для подсветки выбранного изображения в медиатеке */
.media-item img.selected {
    border: 3px solid #0d6efd; /* Синяя рамка */
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.5); /* Лёгкая синяя тень */
    transform: scale(1.05); /* Немного увеличиваем, чтобы было заметно */
    transition: all 0.2s ease-in-out; /* Плавный переход */
}

/* Дополнительный стиль для красоты, когда наводим курсор */
.media-item img:not(.selected):hover {
    cursor: pointer;
    border: 3px solid #adb5bd;
}

/* В вашем CSS-файле */
.modal.fade .modal-dialog {
    transform: none;
    transition: transform .3s ease-out;
}

.modal-body {
    position: relative;
    padding: 1rem;
}

#mediaModal .modal-body {
    overflow-x: hidden;
}

#mediaModal .row {
    margin-left: 0;
    margin-right: 0;
}

#mediaPagination .page-link {
    min-width: 30px;      /* Минимальная ширина, чтобы кнопки не были узкими */
    text-align: center;   /* Текст строго по центру */
    margin: 0 2px;        /* Небольшой отступ между кнопками */
    color: #555;          /* Цвет текста поспокойнее */
    border-radius: 4px;   /* Слегка скруглим углы */
}

#mediaPagination .page-item.active .page-link {
    background-color: #0d6efd; /* Твой основной цвет */
    border-color: #0d6efd;
    color: white;
}