/* Пример стиля, если вам нужно, чтобы редактор занимал больше места на очень маленьких экранах */
@media (max-width: 767.98px) {
    .col-md-9, .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}