.error_view {
    background-color: #ffffff;
    border-radius: 10px; /* Закругление углов */
    padding: 25px; /* Отступы внутри блока */
    margin-top: 20px; /* Отступ сверху от предыдущего элемента */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта карточки */
    position: relative;
}

h3.error_view_header {
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
    margin-top: 20px; /* Отступ сверху от предыдущего блока */
    color: #353833;
}

/* Стиль текстового превью поста */
.error_view_text {
    font-size: 16px;
    margin-top: 25px; /* Отступ сверху от предыдущего блока */
    color: #706f69;
    line-height: 1.5; /* Интервал между строками */
    font-weight: var(--font-weight-regular);
}