/* Класс для отключения прокрутки */
.no-scroll {
    overflow: hidden; /* Отключаем прокрутку */
    touch-action: none; /* Отключаем жесты прокрутки на тачскринах */
}


.mobilemenu-overlay {
    display: block;
    /* Скрываем фоновую плашку */
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto; /* Высота минус отступ сверху */
    background-color: transparent;
    color: #706f69;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: visible;
    z-index: auto;
}

/* Убедимся, что контейнер внутри также ведет себя правильно */
.mobilemenu-container {
    margin: 0;
}



@media (max-width: 1024px) {
    /* Стили для мобильного оверлея */
    .mobilemenu-overlay {
        position: fixed; /* Делаем его фиксированным оверлеем */
        top: 90px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 90px);
        background-color: #f3f4ee; /* Возвращаем фон */
        padding: 0; /* Удаляем лишний padding, если он был */
        overflow-y: auto;
        z-index: 1000;
        
        /* Скрываем по умолчанию, используя класс hidden, 
           который будет добавляться/удаляться JS */
        display: none; 
    }

    /* Стили для управления видимостью с помощью JS */
    .mobilemenu-overlay.hidden {
        display: none;
    }

    .mobilemenu-overlay.visible {
        display: block;
    }

    /* Скрываем обе иконки по умолчанию */
    .menu-toggle .hamburger-button,
    .menu-toggle .close-button {
        display: none;
    }

    /* Показываем только "бургер" при дефолтном состоянии */
    .menu-toggle:not(.active) .hamburger-button {
        display: block;
    }

    /* Показываем только "крестик" при активном состоянии */
    .menu-toggle.active .close-button {
        display: block;
    }



    .mobilemenu-container {
        margin-top: 20px;
    }

    .mobilemenu-container a.add-button {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
    }
}

@media (max-width: 767px) {
    .mobilemenu-overlay {
        left: 6px;
        width: calc(100% - 12px);
    }
}